<div>
 <!-- <div class="home">
    <div class="main-container">
      <h1>Фитнесс туры</h1>
      <h2>Отдыхай с пользой</h2>
      <p>Проведите незабываемыю неделю в компании специалистов и тренеров. Общение с единомышленниками, фитнесс на берегу моря, стретчинг и многое другое</p>
      <a routerLink="/tours">Найти тур</a>
    </div>
  </div>-->
  <div class="home train-hard">
    <div class="main-container">
      <h1>Ебашь в любую погоду</h1>
      <h2>На отдыхе разминочка по рассписанию</h2>
      <p>Хипочку за мамку хипочку за папку и тренить . Да да да на хапках даже в качалочку у нас всё сертифицирвано як нада. Стретчинг вся хуета.</p>
      <a routerLink="/tours">В бой!</a>
    </div>
  </div>
  <div class="home spartan">
    <div class="main-container">
      <h1>Туры в горы</h1>
      <h2>С нашей командой</h2>
      <p>Проведите незабываемую неделю в горах. Там и подбухнуть можно и пыхнуть. Го с нами не сиди как лох дома! Команда проффесионалов напалит тебе банчуху и залепит плюху. Не провтыкай этот тур, дядечка!</p>
      <a routerLink="/tours">В горы!</a>
    </div>
  </div>
</div>
