@import '~src/screens';

.tours-container {
  width: 80%;
  margin: 0 auto;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}

h2 {
  font-size: 2em;
  letter-spacing: .01em;
  padding: 1%;
  color: #2c3e50;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold;
}

