<nav>
  <div class="navigation">
    <div class="logo">
    </div>
    <div class="links">
      <a routerLink="/tours" routerLinkActive="active">Наши туры</a>
      <a routerLink="/team" routerLinkActive="active">Наша команда</a>
      <a routerLink="/reviews" routerLinkActive="active">Отзывы</a>
      <a routerLink="/blog" routerLinkActive="active">Блог</a>
      <a routerLink="/contacts" routerLinkActive="active">Контакты</a>
    </div>
  </div>
  <div class="controls">
    <!--<app-language-selector></app-language-selector>-->
    <a routerLink="/tours" class="active">Найти тур</a>
  </div>
</nav>
