<h2>Featured tours</h2>
<div class="container-1">
  <div class="tour-1">
    <img src=""><img src="../../../../assets/fit-main.png" width="300px"/>
    <p class="tourName">The Best of the Balkans</p>
    <p class="info">17 days from <span  class="crossline" class="price">$3,559</span></p>
  </div>
  <div class="tour-2">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">Land of the Jaguar</p>
    <p class="info">9 days from <span class="price">$5,449</span></p>
  </div>
  <div class="tour-3">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">The Best of the Balkans</p>
    <p class="info">17 days from <span class="price">$3,559</span></p>
  </div>
  <div class="element-4">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">Land of the Jaguar</p>
    <p class="info">9 days from <span class="price">$5,449</span></p>
  </div>
</div>
<div class="container-2">
  <div class="tour-1">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">The Best of the Balkans</p>
    <p class="info">17 days from <span  class="crossline" class="price">$3,559</span></p>
  </div>
  <div class="tour-2">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">Land of the Jaguar</p>
    <p class="info">9 days from <span class="price">$5,449</span></p>
  </div>
  <div class="tour-3">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">The Best of the Balkans</p>
    <p class="info">17 days from <span class="price">$3,559</span></p>
  </div>
  <div class="element-4">
    <img src="../../../../assets/fit-main.png" width="300px">
    <p class="tourName">Land of the Jaguar</p>
    <p class="info">9 days from <span class="price">$5,449</span></p>
  </div>
</div>
