.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

app-tour-item {
  display: block;
  margin: 1%;
  width: 30%;
  cursor: pointer;
  &:focus  {
    outline: none;
  }
}
