@import '~src/screens';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
}

app-tour-item {
  display: block;
  margin: 1%;
  width: 30%;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  @include mobile {
    width: auto;
    margin: 1em;
  }
  @include tablet {
    width: auto;
    margin: 1em;
  }
}
