@import "~src/screens";

.blog-wrapper {
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
}

.main-content {
  width: 65%;

  app-tags-list {
    display: block;
    margin: 1em 0;
  }
  @include mobile {
    width: auto;
  }
  @include tablet {
    width: auto;
  }
}

.image-container {
  width: 100%;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.sub-info {
  width: 30%;
  @include mobile {
    width: auto;
  }
  @include tablet {
    width: auto;
  }
}

h2 {
  font-family: "Montserrat", "Roboto", prompt, sans-serif;
  letter-spacing: .05rem;
  font-size: 2em;
  font-weight: 600;
  margin: 1em 0 .5em;
}

.date {
  font-family: "Montserrat", "Roboto", prompt, sans-serif;
  font-size: 1em;
  color: #222;
  padding-bottom: .5em;
  font-weight: 600;
  letter-spacing: .05rem;
}

h4 {
  font-family: "Montserrat", "Roboto", prompt, sans-serif;
  letter-spacing: 0.1em;
  padding: 1em 0;
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.75em;
  @include mobile {
    padding: 0;
  }
  @include tablet {
    padding: 0;
  }
}

.post-content ::ng-deep {
  p, h4, a, span {
    font-family: "Montserrat", "Roboto", prompt, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: .5em 0;
    line-height: 1.5;
    text-decoration: none;
    color: #222;
  }
  a {
    text-decoration: underline;
    font-weight: 600;
  }

  .bold {
    font-weight: 600;
  }

  span {
    font-size: 1.1em;
  }

  .underline {
    text-decoration: underline;
  }

  h4 {
    font-weight: 600;
    font-size: 1.35em;
  }

  ul, ol {
    margin: 1.25em 0;
    li {
      font-family: "Montserrat", "Roboto", prompt, sans-serif;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      padding: .5em 0;
      margin: 0 1em;
      line-height: 1.5;
      list-style: square;
    }
  }

  ol li {
    list-style: decimal;
  }

  h1 {
    padding: .75em 0;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: .02rem;
    font-size: 1.75em;
  }
}
