<div class="blog-wrapper" *ngIf="(post$ | async) as post">
  <div class="main-content">
    <div class="image-container">
      <img [src]="post.imageSrc"/>
    </div>
    <app-tags-list [tags]="post.tag"></app-tags-list>
    <h2>{{post.heading}}</h2>
    <p class="date">{{post.date | date:'short'}}</p>
    <div class="post-content" [innerHTML]="post.HTML | safe:'html'"></div>
  </div>
  <div class="sub-info">
    <h4>Относяться к теме:</h4>
    <app-realated-posts></app-realated-posts>
    <h4>Тэги:</h4>
    <app-tags-list [tags]="tags"></app-tags-list>
  </div>
</div>
