@import '~src/screens';

.team-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 4px 19px 10px rgba(224, 224, 224, 0.76);
  width: 300px;
  padding: 1em;
  height: 400px;
  cursor: pointer;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  &:hover {
    box-shadow: none;
  }
}

hr {
  height: 2px;
  background: #e0e0e0;
  color: #e0e0e0;
  border: none;
  width: 60%;
}

.img {
  padding: 2em;
  height: 175px;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

h3, h4, p {
  text-align: center;
  letter-spacing: .02em;
  padding: .5em;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, FreeSans, sans-serif;
}

h3 {
  font-weight: bold;
}

h4 {
  letter-spacing: .03em;
}
