.team-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 4px 19px 10px rgba(224, 224, 224, 0.76);
  width: 300px;
}

hr {
  height: 2px;
  background: #e0e0e0;
  color: #e0e0e0;
  border: none;
  width: 60%;
}

.img {
  padding: 2em;
  height: 175px;
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

h3, h4, p {
  text-align: center;
  letter-spacing: .02em;
}

h4 {
  letter-spacing: .03em;
}
