:host {
  display: block;
  margin: 0 auto;
  width: 80%;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.01em;
  padding: 1em 0;
  color: #2c3e50;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold;
}
