.wrapper {
  display: flex;
  flex-direction: column;
}

.img img {
  object-fit: contain;
  width: 100%;
}

.tag {
  font-family: "Montserrat", "Roboto", prompt, sans-serif;
  font-weight: 600;
  letter-spacing: .01rem;
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  span {
    padding-right: 3.5px;
  }

  &.date {
    color: gray;
    font-size: 12px;
  }
}

.text {
  padding: 10px;
}

h4 {
  padding: 10px 0;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 800;
  letter-spacing: .01rem;
  font-size: 1.25em;
}

