<div class="contacts">
  <ul class="contact-list">
    <li>Связь с тренерами</li>
    <li>+380631245678</li>
    <li>Понедельник - Пятница</li>
    <li> 10:00 - 18:00</li>
  </ul>
  <ul class="contact-list">
    <li>Служба поддержки</li>
    <li>+380631245678</li>
    <li>Понедельник - Суббота</li>
    <li> 9:00 - 21:00</li>
    <li><a class="email-link" href="mailto:dimkalobov95@gmail.com">Отправить запрос</a></li>
  </ul>
  <ul class="contact-list">
    <li>Записаться в тур</li>
    <li>+380631245678</li>
    <li>steel.team@gmail.com</li>
    <li><a class="email-link" href="mailto:dimkalobov95@gmail.com">оставить заявку</a></li>
  </ul>
</div>

