@import '~src/screens';

.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 0;

  .team-card {
    width: 20%;
    margin: 1% 2% 2% 0;
    cursor: pointer;

    @include mobile {
      height: 350px;
      width: 100%;
    }

    @include tablet {
      height: 350px;
      width: 100%;
    }
  }
}
