<section class="section-3" >
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56JKQBR" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <h2>Функционал <span>сервиса</span></h2>
  <div class="container">
    <div class="block">
      <img src="/assets/advantage-list/img_1.png" height="113" width="112"/>
      <p>Автоматический поиск и проставление <b>«Лайков»</b> под фотографиями: по геометкам, по хэштегам, по списку подписчиков ваших конкурентов.</p>
    </div>
    <div class="block">
      <img src="/assets/advantage-list/img_2.png" height="113" width="113"/>
      <p>Настройка автоматического поиска и <b>подписки</b> на аккаунты целевой аудитории по хэштегам и геолокациям, в том числе и на аккаунты подписчиков конкурентов.</p>
    </div>

    <div class="block">
      <img src="/assets/advantage-list/img_3.png" height="113" width="113"/>
      <p>Автоматический <b>сбор данных</b> для вашего продвижения. Найдите нужные вам аккаунты по геопозиции, подписчикам, хештегам и так дальше.</p>
    </div>
    <div class="block">
      <img src="/assets/advantage-list/img_4.png" height="113" width="113"/>
      <p>Массовый <b>просмотр историй</b> для увеличения охвата и вовлеченность клиентов.</p>
    </div>

    <div class="block">
      <img src="/assets/advantage-list/img_5.png" height="113" width="113"/>
      <p>Настройка автоматической <b>отписки</b> от невзаимных подписчиков при достижении лимита.</p>
    </div>
    <div class="block">
      <img src="/assets/advantage-list/img_6.png" height="113" width="114"/>
      <p>Имитация живого общения благодаря созданию и рассылке уникальных <b>комментариев</b> по аккаунтам целевой аудитории.</p>
    </div>
    <div class="block">
      <img src="/assets/advantage-list/img_7.png" height="113" width="112"/>
      <p>Интеллектуальная функция!!! + 30%-40% к эффективности за счёт <b>одновременного проставления лайков и оформления подписки</b> на целевые аккаунты, отобранные по заданному фильтру: по хэштегам, геометкам, подписчикам.</p>
    </div>
    <div class="block">
      <img src="/assets/advantage-list/img_8.png" height="113" width="113"/>
      <p>Одновременная настройка, раскрутка и работа в <b>5 заданных профилях</b>.</p>
    </div>
    <div class="group"></div>
    <a class="btn-try-free" href="#prices">попробовать бесплатно</a>
  </div>
</section>
