<section class="section-3" id="features">
  <body>
  <h2>Функционал <span>сервиса</span></h2>
  <div class="container">
    <div class="block">
      <img src=#/>
      <p>Автоматический поиск и проставление <b>«Лайков»</b> под фотографиями: по геометкам, по хэштегам, по списку подписчиков ваших конкурентов.</p>
    </div>
    <div class="block">
      <img src=#/>
      <p>Настройка автоматического поиска и <b>подписки</b> на аккаунты целевой аудитории по хэштегам и геолокациям, в том числе и на аккаунты подписчиков конкурентов.</p>
    </div>

    <div class="block">
      <img src=#/>
      <p>Автоматический <b>сбор данных</b> для вашего продвижения. Найдите нужные вам аккаунты по геопозиции, подписчикам, хештегам и так дальше.</p>
    </div>
    <div class="block">
      <img src=#/>
      <p>Массовый <b>просмотр историй</b> для увеличения охвата и вовлеченность клиентов.</p>
    </div>

    <div class="block">
      <img src=#/>
      <p>Настройка автоматической <b>отписки</b> от невзаимных подписчиков при достижении лимита.</p>
    </div>
    <div class="block">
      <img src=#/>
      <p>Имитация живого общения благодаря созданию и рассылке уникальных <b>комментариев</b> по аккаунтам целевой аудитории.</p>
    </div>
    <div class="block">
      <img src=#/>
      <p>Интеллектуальная функция!!! + 30%-40% к эффективности за счёт <b>одновременного проставления лайков и оформления подписки</b> на целевые аккаунты, отобранные по заданному фильтру: по хэштегам, геометкам, подписчикам.</p>
    </div>
    <div class="block">
      <img src=#/>
      <p>Одновременная настройка, раскрутка и работа в <b>5 заданных профилях</b>.</p>
    </div>
    <div class="clearfix"></div>
    <a class="btn-try-free" href="#prices">попробовать бесплатно</a>
  </div>
  </body>
</section>
