.line-through {
  text-decoration: line-through red;
  margin-right: 4px;
}

.price {
  font-weight: bold;
}

.image-wrapper {
  width: 100%;

  img {
    width: 100%;
  }
}

.info {
  font-size: 1em;
  line-height: 1.5;
}

.tourName {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5;
}
