.line-through {
  text-decoration: line-through red;
  margin-right: 4px;
}

.price {
  font-weight: bold;
}

.image-wrapper {
  width: 100%;

  img {
    width: 100%;
  }
}

.tourName {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold;
  font-size: 19.5px;
  margin-bottom: 9px;
}
