@import '~src/screens';

:host {
  display: block;
  margin: 0 auto;
  padding: 2em 0;
  width: 80%;
}

.member-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }
}

.avatar {
  width: 40%;
  padding: 0 2em 0;
  img {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}

.social-line {
  display: flex;
  flex-direction: row-reverse;
}

.social-link {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

h3, p, h4 {
  font-size: 2em;
  letter-spacing: 0.01em;
  color: #2c3e50;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-weight: bold;
}

h4 {
  font-weight: normal;
}

p {
  font-size: 1.25em;
  font-weight: normal;
}
