:host {
  display: block;
  margin: 0 auto;
  padding: 2em 0;
  width: 80%;
}

.member-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.avatar {
  width: 450px;
  img {
    width: 100%;
  }
}

.social-line {
  display: flex;
  flex-direction: row-reverse;
}

.social-link {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;

  img {
    width: 100%;
  }
}
