<form class="form-wrapper" (submit)="onSubmit($event)" [formGroup]="form">
  <div class="credo-line">
    <mat-form-field>
      <input matInput placeholder="ваше имя" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="номер телефона" formControlName="tel">
    </mat-form-field>
  </div>
  <mat-form-field class="area">
    <textarea
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"
      matInput placeholder="Оставьте отзыв тут"
      formControlName="review"></textarea>
  </mat-form-field>
  <div class="button-line">
    <button mat-raised-button color="primary">Отправить</button>
  </div>
</form>
