@import "~src/screens";

:host {
  background-color: #eeeeee;
  display: block;
}

.container {
  width: 80%;
  margin: 80px auto 0;
}

.white-container {
  background: white;
}

h2, h3 {
  color: #00355f;
  font-size: 1.5em;
  letter-spacing: .01em;
  line-height: 2;
  @include mobile {
    line-height: 1;
    padding-bottom: .5em;
    font-size: 1.25em;
  }
  @include tablet {
    line-height: 1;
    padding-bottom: .5em;
    font-size: 1.25em;
  }
}

h3 {
  padding: 1em 0;
  font-weight: bold;
  letter-spacing: .025em;
  font-size: 1.25em;
}

p {
  font-weight: bold;
  color: #536d83;
  letter-spacing: .025em;
  font-size: 1em;
  line-height: 2;
  padding-bottom: 2em;
  @include mobile {
    line-height: 1.2;
  }
  @include tablet {
    line-height: 1.2;
  }

}

.review-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2em 0;
  @include mobile {
    align-items: center;
    flex-direction: column;
  }
  @include tablet {
    align-items: center;
    flex-direction: column;
  }
}
