:host {
  background-color: #eeeeee;
  display: block;
}

.container {
  width: 80%;
  margin: 80px auto 0;
}

.white-container {
  background: white;
}

h2, h3 {
  color: #00355f;
  font-size: 1.5em;
  letter-spacing: .01em;
  line-height: 2;
}

h3 {
  padding: 1em 0;
  font-weight: bold;
  letter-spacing: .025em;
  font-size: 1.25em;
}

p {
  font-weight: bold;
  color: #536d83;
  letter-spacing: .025em;
  font-size: 1em;
  line-height: 2;
  padding-bottom: 2em;
}

.review-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2em 0;
}
