<div class="contact-image">
  <h2>contact Steel Team</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
</div>
<div class="contact-text">
  <div class="email-us">
    <h3>Still can't find what you are looking for?</h3>
    <div class="email-wrapper">
      <a class="email-link" href="mailto:dimkalobov95@gmail.com">Send us email</a>
    </div>
  </div>
  <app-contacts></app-contacts>
</div>
<app-sign-line></app-sign-line>
