.main-picture img{
  height: 400px;
  width: 750px;
  border-radius: 1%;
  margin-right: 32px;
  margin-left: 32px;
}
.higher-block{
  margin-left: 158px;
  display:flex;
  flex-direction: row;
  color: #2c3e50;
  font-family: Helvetica,Arial,FreeSans,sans-serif;
}

.number-of-days{
  margin-top: 2.5px;
  font-size: 15px;
  margin-bottom:11px;
}

.set-of-tours{
  font-family: Helvetica,Arial,FreeSans,sans-serif;
  margin-top: 92px;
  margin-left: 190px;
  font-size: 77%;
  margin-bottom: 10px;
  color: darkgray;
}

.bold-text{
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 10px;
}

.place{
  margin-top: 22px;
  margin-bottom: 85px;
}

.strong-text{
  font-weight: bold;
}

.small.block{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.parameter{
  font-size: 16px;
  font-weight: bold;
  margin-right: 48px;
  margin-bottom: 4px;
}

.add-info-1, .add-info-2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.add-info-1{
  margin-bottom: 23px;
}

.add-info-2{
  margin-bottom: 22px;
}

.data-info{
  font-size: 16px;
  margin-bottom: 10px;
}

 // for example
.image-wrapper {
  position: relative;
}

.button{
  width: 46px;
  height: 46px;
  background: white;
  top: 180px;
  position: absolute;
  border-radius: 50%;
}

.button-right{
  right:50px;
  position: absolute;
}

.button-left{
  left:50px;
  position: absolute;
}

.margin-left-for-tour-id{
  margin-left: 25px;
}
