<div class="tour-wrapper" *ngIf="(active$|async) as tour">
  <p class="tour-info">
    <span *ngFor="let lable of tour.lables">{{lable}}</span>
  </p>
  <div class="higher-block">
    <div class="main-wrapper">
      <app-gallery [images]="tour.gallery"></app-gallery>
      <div class="tags-list">
        <span *ngFor="let tag of tour.tags">{{tag}}</span>
      </div>
      <h2>Места которые мы посетим</h2>
      <div class="see-places">
        <div class="place-card" *ngFor="let place of tour.places">
          <div class="place-image"><img [src]="place.image" [alt]="place.name"/></div>
          <h6>{{place.name}}</h6>
        </div>
      </div>
      <div class="map-wrapper">
        <agm-map [latitude]="tour?.mapPlace[0]?.lat" [longitude]="tour?.mapPlace[0]?.lon" [zoom]="zoom">
          <agm-marker *ngFor="let cord of tour.mapPlace" [latitude]="cord.lat" [longitude]="cord.lon"></agm-marker>
        </agm-map>
      </div>
      <div class="schedule-wrapper">
        <h2>Распорядок нашего тура</h2>
        <mat-expansion-panel *ngFor="let item of tour.itinerary">
          <mat-expansion-panel-header>
            <mat-icon [ngClass]="item.className">{{item.icon}}</mat-icon>
            <h5>{{item.heading}}</h5>
          </mat-expansion-panel-header>
          <div [innerHTML]="item.description"></div>
        </mat-expansion-panel>
      </div>
      <div class="schedule-wrapper whats-included-wrapper">
        <h2>Что включено?</h2>
        <mat-expansion-panel *ngFor="let item of tour.includedItems">
          <mat-expansion-panel-header>
            <mat-icon class="included">{{item.icon}}</mat-icon>
            <h5>{{item.heading}}</h5>
          </mat-expansion-panel-header>
          {{item.description}}
        </mat-expansion-panel>
      </div>
      <div class="stay-wrapper">
        <h2>Где вы остановитесь?</h2>
        <div class="stay-place">
          <div class="hotel-icon">
            <mat-icon>hotel</mat-icon>
          </div>
          <h5>{{tour.placeToStay}}</h5>
        </div>
      </div>
      <div>
        <h2>Кто будет с вами</h2>
        <app-team-list class="short-list" [list]="team"></app-team-list>
      </div>
      <div class="reviews-wrapper">
        <h2>Отзывы о туре</h2>
        <div class="tour-operator">
          <div class="tour-left">
            <div class="tour-logo">
              <mat-icon>flag</mat-icon>
            </div>
            <div class="tour-text">
              <h5>Тур оператор</h5>
              <p>{{tour.operator}}</p>
            </div>
          </div>
          <div class="tour-mark">
            <span class="digit">5.0</span>
            <mat-icon>start</mat-icon>
          </div>
        </div>
        <div class="reviews-list">
          <div class="review" *ngFor="let review of tour.reviews">
            <div class="review-head">
              <div class="review-author">
                <h5>{{review.name}}</h5>
                <p>{{review.date | date : 'short' }}</p>
              </div>
              <div class="review-stars">
                <mat-icon *ngFor="let star of review.rating">star</mat-icon>
              </div>
            </div>
            <div class="review-content">
              <p>{{review.text}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-wrapper">
        <h2>Обратная связь</h2>
        <p> Мы здесь ради тебя! Если у вас есть какие-либо вопросы об этом туре, пожалуйста, не стесняйтесь обращаться к
          нам 24/7, и мы свяжемся с вами в течение 2 часов!</p>
        <div class="tour-operator faq-content">
          <div class="tour-left">
            <div class="tour-logo">
              <mat-icon>flag</mat-icon>
            </div>
            <div class="tour-text">
              <h5>Остались вопросы по туру?</h5>
              <p>Свяжись с нашей командой и узнай лично!</p>
            </div>
          </div>
          <div class="tour-mark">
            <a class="tour-action">Связаться</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-column">
      <h4>{{tour.length}}</h4>
      <h3>{{tour.name}}</h3>
      <div class="tour-details">
        <div class="detail">
          <p>Тур оператор</p>
          <p>{{tour.operator}}</p>
        </div>
        <div class="detail">
          <p>Максимальный размер группы</p>
          <p>{{tour.size}}</p>
        </div>
        <div class="detail">
          <p>Возраст</p>
          <p>от {{tour.age.from}} до {{tour.age.to}}</p>
        </div>
        <div class="detail">
          <p>Номер тура</p>
          <p>{{tour.id}}</p>
        </div>
      </div>
      <div class="price">
        <p>Ваша экономия: <strong>{{tour.discount}}₴</strong></p>
        <p class="price-from">
          Цена:<strong>от {{tour.fullPrice}}₴</strong>
        </p>
      </div>
      <div class="accept-button">
        <a class="red-link" (click)="acceptTour()">Поехали!</a>
      </div>
    </div>
  </div>
</div>
