<p class="set-of-tours">Home 〉 Asia tours 〉 India tours 〉 Golden Triangle tours 〉 Custom tours</p>
<div class="higher-block">
  <div class="image-wrapper">
    <div class="main-picture"><img src="/assets/fit-main.png"></div>
    <div class=" button button-right"><img src="/assets/right-button.svg"></div>
    <div class=" button button-left"><img src="/assets/left-button.svg"></div>
  </div>
  <div  class="right-text">
    <p class="number-of-days">3 DAYS</p>
    <p class="bold-text">3 Days  Private Golden </p>
    <p class="bold-text">Triangle Tour with 3</p>
    <p class="bold-text">Star Hotel</p>
    <p class="place">From <span class="strong-text">Delhi</span> to <span class="strong-text">Delhi</span></p>
    <div class="add-info-1">
      <div>
        <p class="parameter">Max group size:</p>
        <p class="data-info">10</p>
      </div>
      <div>
        <p class="parameter">Age range:</p>
        <p class="data-info">18 to 99</p>
      </div>
    </div>
    <div class="add-info-2">
      <div>
        <p class="parameter">Operated in:</p>
        <p class="data-info">English</p>
      </div>
      <div class="margin-left-for-tour-id">
        <p class="parameter">Tour id:</p>
        <p class="data-info">185437</p>
      </div>
    </div>
    <div>
      <p>Our saving: <span class="parameter">$6</span></p>
      <p><span class="small-text">From</span></p>
    </div>
    <div class="price">
      <p><span class="us">us</span> <span class="big-text">$269</span></p>
    </div>
  </div>
</div>
