@import '~src/screens';

.tour-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
  @include tablet {
    width: 95%;
  }
  @include mobile {
    width: 95%;
  }
}

.higher-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  @include tablet {
    flex-direction: column-reverse;
  }
  @include mobile {
    flex-direction: column-reverse;
  }
}

.main-wrapper {
  width: calc(100% - 380px);
  @include tablet {
    width: auto;
  }
  @include mobile {
    width: auto;
  }
}

.text-column {
  width: 350px;
  @include tablet {
    width: auto;
  }
  @include mobile {
    width: auto;
  }
}

.tour-info {
  padding: 1em 0;

  span {
    font-family: Helvetica, Arial, FreeSans, sans-serif;
    color: #818d99;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .01em;
    line-height: 1.5;
    cursor: pointer;

    &::after {
      content: ' 〉 ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

h4 {
  color: rgb(129, 141, 153);
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: .01em;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  color: rgb(44, 62, 80);
  font-size: 1.75em;
  line-height: 1.25;
  letter-spacing: 0.02em;
}

p {
  font-size: 1em;
  line-height: 1.5;

  strong {
    font-weight: 600;
  }
}

.tags-list {
  margin: 1em 0;

  span {
    color: #286283;
    text-decoration: none;
    background-color: #ebeef2;
    border-radius: 18px;
    padding: 9px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: #b3d6e9;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.tour-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .detail {
    padding: 1em 0;

    p {
      font-size: 1em;
      line-height: 1.5;
      letter-spacing: .01em;
    }

    p:first-child {
      font-weight: 700;
    }

    width: 150px;
  }
}

.price-from {
  font-size: 1em;
  line-height: 1.5;

  strong {
    font-weight: 600;
    font-size: 1.75em;
  }
}

.destinition {
  padding-top: 1em;
}

.see-places {
  display: flex;
  flex-direction: row;
  @include tablet {
    flex-direction: column-reverse;
  }

  @include mobile {
    flex-direction: column-reverse;
  }

  .place-card {
    max-width: 320px;
    margin-right: 2em;
    display: flex;
    @include tablet {
      flex-direction: column-reverse;
      margin: 0;
      max-width: initial;
    }

    @include mobile {
      flex-direction: column-reverse;
      margin: 0;
      max-width: initial;
    }

    .place-image {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }

    h6 {
      font-size: 1em;
      line-height: 1.5;
      letter-spacing: .01em;
      font-weight: 700;
      color: rgb(44, 62, 80);
    }
  }
}

h2 {
  font-size: 2em;
  line-height: 2;
  letter-spacing: .02em;
  font-weight: 600;
  color: rgb(44, 62, 80);
  @include mobile {
    line-height: 1.2;
    font-size: 1.25em;
    padding: .75em 0 .5em;
  }
  @include tablet {
    line-height: 1.2;
    font-size: 1.25em;
    padding: .75em 0 .5em;
  }
}

.map-wrapper {
  margin: 1em 0 2em;

  agm-map {
    width: 100%;
    height: 250px;
  }
}

.schedule-wrapper {
  .info {
    color: #e4e9f2;
  }

  .adjust {
    color: #396af2;
  }

  .end {
    background-color: red;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      color: white;
      font-size: 16px;
      width: 16px;
      height: 16px;
      transform: rotate(-32deg);
    }
  }

  strong {
    font-weight: 600;
  }

  .vote {
    background-color: #0c9463;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      color: white;
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
  }

  h5 {
    font-weight: 700;
    color: #0a7bbd;
    line-height: 1.5;
    font-size: 1em;
    padding-left: .5em;
  }

  mat-expansion-panel {
    box-shadow: none;

    ::ng-deep .mat-expansion-panel-body {
      padding: 0 48px 16px;
    }

    mat-expansion-panel-header {
      ::ng-deep .mat-content {
        align-items: center;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.end-point {
  background-color: #ebeef2;
  display: flex;
  padding: 1em;
  justify-content: space-around;

  p {
    display: flex;
  }
}

.included {
  color: #0c9463;
}

.excluded {
  color: red;
}

.whats-included-wrapper {
  h5 {
    color: rgb(44, 62, 80);

    &:hover {
      color: #0a7bbd;
    }
  }
}

.stay-place {
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(199, 208, 217);
  padding-bottom: 1em;
  margin-bottom: 1em;

  h5 {
    font-size: 1.25em;
    letter-spacing: -.01em;
    font-weight: 600;
    color: rgb(44, 62, 80);
  }
}

.hotel-icon {
  background-color: rgba(102, 176, 218, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-right: 1em;

  mat-icon {
    color: rgb(102, 176, 218);
  }
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }
}

app-team-card {
  margin-right: 2em;
  @include mobile {
    margin: 1em;
  }
  @include tablet {
    margin: 1em;
  }
}

.tour-operator {
  display: flex;
  padding: 5px;
  background-color: rgba(48, 117, 157, .1);
  justify-content: space-between;
  border-radius: 13px;
}

.tour-logo {
  padding: 10px;

  mat-icon {
    color: #66b0da;
  }
}

.tour-text {
  h5 {
    font-size: 1em;
    line-height: 1.25;
    letter-spacing: .01em;
    color: #2c3e50;
    font-weight: 700;
  }
}

.tour-left {
  display: flex;
  align-items: center;
}

.tour-mark {
  display: flex;
  align-items: center;

  .digit {
    line-height: 1.25;
    letter-spacing: .01em;
    color: #2c3e50;
    font-weight: 700;
    font-size: 1em;
  }

  mat-icon {
    color: darkgoldenrod;
    font-size: 1.25em;
  }
}

.review {
  padding-bottom: 2em;
  border-bottom: 1px solid #c7d0d9;;
  margin-bottom: 1.5em;

  &-stars {
    mat-icon {
      color: darkgoldenrod;
      font-size: 1.25em;
    }
  }

  &-author {
    display: flex;
    align-items: center;

    h5 {
      font-size: 1em;
      line-height: 1.5;
      font-weight: 600;
      letter-spacing: .2px;
      padding-right: 5px;
    }

    p {
      font-size: .75em;
      line-height: 1.5;
    }
  }
}

.reviews-list {
  margin: 2em 0;
}

.faq-content {
  margin: 2em 0;
  @include mobile {
    margin: .5em;
    flex-direction: column;
    align-items: center;
  }
  @include tablet {
    margin: .5em;
    flex-direction: column;
    align-items: center;
  }
}

.tour-action {
  align-items: flex-start;
  border: 1px solid rgb(64, 156, 209);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(64, 156, 209);
  display: block;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, FreeSans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: rgb(64, 156, 209) none 0;
  padding: .75em .5em;
  text-align: center;
  text-decoration-color: rgb(64, 156, 209);
  text-decoration-style: solid;
  cursor: pointer;

  &:hover {
    background-color: rgb(64, 156, 209);
    color: rgb(255, 255, 255);
  }

}
