<footer>
  <div class="top-side">
    <ul class="footer-list">
      <li class="bold">Наши туры</li>
      <li>Ближайшие туры</li>
      <li>Прошедшие туры</li>
      <li>Отзывы о турах</li>
      <li>Записаться на тур</li>
    </ul>
    <ul class="footer-list">
      <li class="bold">Наша команда</li>
      <li>Фитнесс инструкторы</li>
      <li>Операторы</li>
      <li>Как попасть в команду</li>
    </ul>
    <ul class="footer-list">
      <li class="bold">Наш блог</li>
      <li>Питание</li>
      <li>Стретчинг</li>
      <li>Тренировки</li>
    </ul>
    <ul class="footer-list">
      <li class="bold">Партнёры</li>
      <li>TUI</li>
    </ul>
  </div>
  <div class="social-line">
    <a class="social-link" href="">
      <img src="/assets/social/facebook.svg" alt="facebook"/>
    </a>
    <a class="social-link" href="">
      <img src="/assets/social/instagramm.svg" alt="instagramm"/>
    </a>
    <a class="social-link" href="youtube">
      <img src="/assets/social/youtube.svg"/>
    </a>
  </div>
</footer>
